<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream a little Dream Vacation</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amarante&family=Amaranth&display=swap');
  </style>
</head>
<body>
   
    <header>
        <h1>Dream a Little Dream Vacation Database</h1>
    </header>
    <main>
        
    <form> Dream Vacation
        <input 
            type='text'
            id="location"
            placeholder="Where do you want to go?"/>
        <input 
            type='number'
            id="price"
            min= "0"
            step="1000"
            placeholder='Vacation Estimate'/>
        <input 
            type='text'
            id="img"
            placeholder='Paste an image URL to inspire yourself'/>
        <button>Dream it!</button>
    </form>
    <section id="vacation-container"></section>
    <br>
    <br>
    <br>
    <button class=button id="fun" onclick="window.location.href='https://youtu.be/h_xjfqrFl7o';"> Need Inspiration?</button>

    </main>
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>